<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My CSGO Inventory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <link rel="icon" href="CS-icon.png">
        <script src="main.js"></script>
        <style>
            html, body { margin: 0; border: 0; font-family: "Arial" }
            body { background-color: black; color : white }
            #Page-Content { width: 50%; margin: 0 auto; text-align: center }
            hr { width: 50% }
            input { text-align: center }
            #href { margin: 20px; font-size: 12.5px; border: 1px solid white; width: 150px; height: 25px; line-height: 25px }
            #href-zone { display: flex; justify-content: center }
            a { margin: 20px; text-decoration: none; color: white }
            #Cracky { justify-content: center; position: fixed; bottom: 0 }
        </style>
    </head>
    <body>
        <div id="Page-Content">
            <h1>CSGO Invy</h1>
            <hr>
            <br>
            <div id="href-zone">
                <div id="href">
                    <a href="/myInventory">My Inventory</a>     
                </div>      
                <div id="href">
                    <a href="/missingSkins">Missing Skins</a>
                </div> 
                <div id="href">
                    <a href="/missingSkins/AK-47">AK-47</a>
                </div>  
                <div id="href">
                    <a href="/missingSkins/Glock-18">Glock-18</a>
                </div> 
            </div> 
        </div> 
        <div id="href-zone">
            <div id="Cracky">
                <img src="crackytext.gif" height="225" width="400">
            </div>
        </div>
    </body>
</html>