html {
	background: #1F1F1F;
	overflow: hidden;
}

#wScrollBar::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#wScrollBar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#wScrollBar::-webkit-scrollbar-thumb
{
	background-color: #0ae;
}

#mainBut:hover {
	color: black;
	background: #0ae;
}

#mainInput {
	background: #5F6971;
	color: white;
}

#mainInput::placeholder {
	color: white;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, #weaponList:hover {
	color: #0ae;
}

#weaponList {
	color: white;
}

#weaponButton {
	border: 1px solid #1B2936;
	background: inherit;
	color: white;
	margin-bottom: 2px
}